{% extends 'app/base.html' %}

{% block content %}
<div>
    {% if all_items %}
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            {% for things in all_items %}
                {% if things.completed %}
                <tr class="table-secondary">
                    <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                    <td><a href="{% url 'time_stamp' things.id %}">{{ things.item }}</a></td>
                    <td><a href="{% url 'uncross' things.id %}">uncross</a></td>
                    <td><a href="{% url 'delete' things.id %}">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                    <td><a href="{% url 'time_stamp' things.id %}">{{ things.item }}</a></td>
                    <td><a href="{% url 'cross_off' things.id %}">{{ things.item }}</a></td>
                    <td><a href="{% url 'delete' things.id %}">{{ things.item }}</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </thead>
    </table>
    {% endif %}
</div>

{% endblock content %}




